app-id: org.lockekk.deskflow-hid
runtime: org.kde.Platform
runtime-version: "6.10"
sdk: org.kde.Sdk
command: deskflow-hid
finish-args:
  - --share=ipc
  - --socket=wayland
  - --socket=fallback-x11
  - --share=network
  - --device=dri
  - --device=all
  - --talk-name=org.kde.StatusNotifierWatcher
cleanup:
  - /include
  - "*.a"
  - /bin/ei-debug-events
  - /lib/cmake
  - /lib/pkgconfig
  - /share/pkgconfig
  - /share/cmake
  - /share/doc
  - /share/gir-1.0
  - /lib/girepository-1.0
modules:
  - name: python3-Jinja2
    buildsystem: simple
    build-commands:
      - pip3 install --verbose --exists-action=i --no-index --find-links="file://${PWD}"
        --prefix=${FLATPAK_DEST} --no-build-isolation Jinja2
    sources:
      - type: file
        url: https://files.pythonhosted.org/packages/30/6d/6de6be2d02603ab56e72997708809e8a5b0fbfee080735109b40a3564843/Jinja2-3.1.3-py3-none-any.whl
        sha256: 7d6d50dd97d52cbc355597bd845fabfbac3f551e1f99619e39a35ce8c370b5fa
      - type: file
        url: https://files.pythonhosted.org/packages/87/5b/aae44c6655f3801e81aa3eef09dbbf012431987ba564d7231722f68df02d/MarkupSafe-2.1.5.tar.gz
        sha256: d283d37a890ba4c1ae73ffadf8046435c76e7bc2247bbb63c00bd1a709c6544b
    cleanup:
      - '*'
  - name: libei
    buildsystem: meson
    config-opts:
        - -Ddocumentation=[]
        - -Dtests=disabled
        - -Dliboeffis=disabled
    sources:
        - type: git
          url: https://gitlab.freedesktop.org/libinput/libei
          tag: 1.4.1
          commit: 9e0413cbc7d3ae6656266890425f152589ddf74d
  - name: libportal
    buildsystem: meson
    config-opts:
      - -Ddocs=false
      - -Dtests=false
      - -Dportal-tests=false
      - -Dvapi=false
      - -Dbackend-qt6=auto
    sources:
      - type: git
        url: https://github.com/flatpak/libportal.git
        tag: 0.9.1
        commit: 8f5dc8d192f6e31dafe69e35219e3b707bde71ce
      - type: patch
        path: libportal-qt69.patch
  - name: gtest
    buildsystem: cmake-ninja
    sources:
      - type: git
        url: https://github.com/google/googletest.git
        tag: v1.15.2
        commit: b514bdc898e2951020cbdca1304b75f5950d1f59
    cleanup:
      - '*'
  - name: deskflow
    buildsystem: cmake-ninja
    config-opts:
      - "-DCMAKE_BUILD_TYPE=Release"
    post-install:
      - mv /app/share/applications/org.deskflow.deskflow.desktop /app/share/applications/org.lockekk.deskflow-hid.desktop
      - mv /app/share/metainfo/org.deskflow.deskflow.metainfo.xml /app/share/metainfo/org.lockekk.deskflow-hid.metainfo.xml
      - mv /app/share/icons/hicolor/512x512/apps/org.deskflow.deskflow.png /app/share/icons/hicolor/512x512/apps/org.lockekk.deskflow-hid.png
      - mv /app/share/icons/hicolor/symbolic/apps/org.deskflow.deskflow-symbolic.svg /app/share/icons/hicolor/symbolic/apps/org.lockekk.deskflow-hid-symbolic.svg
      - sed -i 's/org.deskflow.deskflow/org.lockekk.deskflow-hid/g' /app/share/applications/org.lockekk.deskflow-hid.desktop
      - sed -i 's/org.deskflow.deskflow/org.lockekk.deskflow-hid/g' /app/share/metainfo/org.lockekk.deskflow-hid.metainfo.xml
    sources:
      - type: dir
        path: ../../../

